.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.List-wrap, .Movie-detail {
  width: 50%;
  margin: auto;
}

.fade {
  animation: fade .3s forwards ease-out;
}

.Movie-item {
  padding: 20px;
  display: block;
  width: 100%;
  background: #282c34;
  margin-top: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: .3s ease-out;
  outline: none;
  border: none;
  font-size: 16px;
}

.Movie-item:hover {
  background: lightgray;
  color: #000000;
}

.Back-btn {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
}

.Movie-detail {
  display: flex;
}

.Movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
}

.Movie-rating {
  display: flex;
  justify-content: space-around;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
